Source: ros-testing-rosidl-runtime-py
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacob@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-testing-ament-copyright, ros-testing-ament-flake8, ros-testing-ament-pep257, ros-testing-ament-xmllint, ros-testing-std-msgs, ros-testing-std-srvs, ros-testing-test-msgs, ros-testing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-rosidl-runtime-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-numpy, python3-yaml, ros-testing-rosidl-parser, ros-testing-ros-workspace
Description: Runtime utilities for working with generated ROS interfaces in Python.
