Source: ros-verystable-rosidl-runtime-py
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacob@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-verystable-ament-copyright, ros-verystable-ament-flake8, ros-verystable-ament-pep257, ros-verystable-ament-xmllint, ros-verystable-std-msgs, ros-verystable-std-srvs, ros-verystable-test-msgs, ros-verystable-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-rosidl-runtime-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-numpy, python3-yaml, ros-verystable-rosidl-parser, ros-verystable-ros-workspace
Description: Runtime utilities for working with generated ROS interfaces in Python.
